@media only screen and (max-width:1400px){
    /* logo header */
    .o {/* letra over. */
    display: none;
    }
    .s {/* letra Swap */
        display: none;
    }
    .uno {/* Linea 1 */
        display: none;
    }
    .dos {/* Linea 2 */
        display: none;
    }
}

@media only screen and (min-width:1401px){
/* logo header */
.o {/* letra over. */
    position: absolute ;
    color: #00CBFF;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
    top: 100px;
    left: 190px;
}

.s {/* letra Swap */
    position: absolute ;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
    top: 100px;
    left: 230px;
}
.uno {/* Linea 1 */
    position: absolute ;
    border-color: rgb(33, 158, 69);
    height: 3px;
    background-color: #ffffff;
    width: 210px;
    height: 2px;
    top: 150px;
    left: 120px;
}
.dos {/* Linea 2 */
    position: absolute ;
    background-color: #00CBFF;
    width: 100px;
    height: 2px;
    top: 150px;
    left: 180px;
}
  }
