html{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
    width:20px;
    background: #5d5d5d;

}
body::-webkit-scrollbar-thumb{
    background:#00CBFF;
    border-radius: 50px;
    border-right: 3px solid #5d5d5d;
    border-left: 1px solid #5d5d5d;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #3cd8ff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#2C3051, #152232);
}
.box{
    position: relative;
    width: 400px;
    height: 700px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px;
}
.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 700px;
    background: linear-gradient(0deg,transparent, #00CBFF,#00CBFF);
    transform-origin: bottom right;
    animation: animate 16s linear infinite;
}
.box::after{
    content: " ";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 700px;
    background: linear-gradient(0deg,transparent, #00CBFF,#00CBFF);
    transform-origin: bottom right;
    animation: animate 16s linear infinite;
    animation-delay: -8s;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: linear-gradient(#2C3051, #152232);
    z-index: 10;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
}
.form h2 {
    color: #00CBFF;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputbox{
    position: relative;
    width: 300px;
    margin-top: 50px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px, 10px, 10px, 20px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 30px;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px, 10px, 10px, 20px;
    font-size: 1em;
    color: #ffffff;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: #00CBFF;
    transform:translateX(-0px) translateY(-34px);
    font-size: 0.75em;
}
.inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #00CBFF;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 20px 20px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2){
    transition: color 0.8s ease;
    color: #00CBFF;
}
.links a:active{
    opacity: 0.8;
}
input[type="submit"]{
    border: none;
    outline: none;
    background: #00CBFF;
    padding: 11px, 25px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
input[type="submit"]:active{
    opacity: 0.8;
}
