.logo{
    position: absolute;

}

.uno{

}
.dos{

}
.o{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    left: 0px;
    text-align: center;
}
.s{
    position: absolute;
    float: left;
    width: 200px;
    height: 200px;
    left: 0px;
    text-align: center;
}

div{
    width: 200px;
    height: 200px;
    background: rgb(140, 96, 226);
    color: white;
}
.caja2{
    
    position: absolute;
    top: -137px ;
    bottom:0px ;
    left:200px ;
    right:0px ;
}
.texto{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 5px 5px;
}
a:link{
    color: #d8388a;
}
a:visited{
    color: #68b553;
}
a:hover{
    color: rgb(27, 94, 220);
}
a:active{
    color: #ddbe34;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgb(0, 0, 0);
}
th{
    background-color:rgb(196, 165, 94);
    color: white;
    text-align: center;
}
tr:nth-child(even){
    background-color: #eee;
}
tr:hover{
    background-color:#d8388a;
    cursor: pointer;
}
